@using MT.Model;
@using System.Globalization;
@{
    List<MonthlyToTProvisionTrend> MonthlyToTProvisionTrendList = ViewData["MonthlyToTProvisionTrendList"] as List<MonthlyToTProvisionTrend>;
    string currentMOC = ViewBag.currentMOC;
    string selectedMOC = ViewBag.selectedMOC;
    SelectList MOCList = ViewBag.MOCList;
}
<style>
    .leftAlign {
        text-align: left;
    }

    .drpmoc {
        width: 120px;
    }

    .vcenter {
        line-height: 30px;
        width: unset;
    }
</style>
<div class="row">
    <input type="hidden" value="@selectedMOC" id="selectedMOC"/>
    <div class="col-md-1 vcenter"> MOC </div>
    <div class="col-md-2">
        @Html.DropDownList("MOCList", MOCList, "-Select-", new { @class = "form-control drpmoc  " })
    </div>
    <div class="col-md-6 text-center">
        <label class="">TOT Provision Trend Analysis</label>
    </div>
    <div class="col-md-3 pull-right rightaligncell">

        <div class="btn btn-default " id="btnShowTable">
            Show Table
            <span class="glyphicon glyphicon-list-alt "></span>
        </div>
        <div class="btn btn-default" id="btnHideTable">
            Hide Table
            <span class="glyphicon glyphicon-list-alt "></span>
        </div>
    </div>
</div>
<div id="trendAnalysisTable">


</div>
<script>

    $(document).ready(function () {
        document.getElementById("MOCList").selectedIndex = $("#selectedMOC").val();
        $.ajax({
            url: '/ProvisionReport/ProvisionTrendAnalysis',
            type: "GET",
            data: "currentReportMOC=" + $("#currentReportMOC").val(),
            success: function (data) {
                $("#trendAnalysisTable").html(data.PartialView);
            }
        })
    })
    $(document).off("change", "#MOCList").on("change", "#MOCList", function () {
       
        $("#selectedMOC").val($(this).val());
        $.ajax({
            url: '/ProvisionReport/ProvisionTrendAnalysis',
            type: "GET",
            data: "currentReportMOC=" + $(this).val(),
            success: function (data) {
                $("#trendAnalysisTable").html(data.PartialView);
            }
        })
       
    })

</script>