<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search & Generate</title>
    <link rel="stylesheet" href="../static/style/styles.css"> <!-- Sidebar CSS -->
    <link rel="stylesheet" href="../static/style/style_ind.css"> <!-- Main content CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <!-- <div class="sidebar-container">
        
        <div class="sidebar">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/search">Image Search</a></li>
                <li><a href="/generate">Image Generate</a></li>
                <li><a href="/resume">Resume summary</a></li>
                <li><a href="/Research">Resume Search</a></li>

            </ul>
        </div>
    </div> -->

    <div class="navigation">
        <ul>
            {% if 'Dashboard' in features %}
            <li>
                <a href="/">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            {% endif %}

            {% if 'Image Search' in features %}
            <li>
                <a href="/search">
                    <span class="icon"><i class="fa-solid fa-image"></i></span>
                    <span class="title">Image Search</span>
                </a>
            </li>
            {% endif %}

            {% if 'Image Generate' in features %}
            <li>
                <a href="/generate">
                    <span class="icon"><i class="fa-solid fa-image"></i></span>
                    <span class="title">Image Generate</span>
                </a>
            </li>
            {% endif %}

            {% if 'Resume Search' in features %}
            <li>
                <a href="/Research">
                    <span class="icon"><i class="fa-solid fa-search"></i></span>
                    <span class="title">Resume Search</span>
                </a>
            </li>
            {% endif %}

            {% if 'Resume summary' in features %}
            <li>
                <a href="/resume">
                    <span class="icon"><i class="fa-solid fa-file-alt"></i></span>
                    <span class="title">Resume summary</span>
                </a>
            </li>
            {% endif %}
            
        </ul>
    </div>

    <div class="toggle" onclick="toggleMenu()"></div>
    <script type="text/javascript">
        function toggleMenu() {
            let navigation = document.querySelector('.navigation');
            let toggle = document.querySelector('.toggle');
            navigation.classList.toggle('active');
            toggle.classList.toggle('active');
        }
    </script>



    <!-- Main content area -->
    <div class="main-content">
        <h1 class="welcome-heading">Hello, Welcome!</h1>
        <p class="description">What would you like to do today?</p>

        <div class="navigation-cards">
            <div class="nav-card" onclick="window.location.href='/search'">
                <h2>Search Similar Images</h2>
                <p>Find images that match your query.</p>
            </div>
            <div class="nav-card" onclick="window.location.href='/generate'">
                <h2>Generate Images</h2>
                <p>Create images using various models and prompts.</p>
            </div>
            <div class="nav-card" onclick="window.location.href='/resume'">
                <h2>Generate Resume Summary</h2>
                <p>Create a summary for your resume.</p>
            </div>
            <div class="nav-card" onclick="window.location.href='/Research'">
                <h2>Resume Search Engine</h2>
                <p>Ask Questions on a Resume.</p>
            </div>
        </div>

    </div>
</body>

</html>