  <!-- Introduction Section -->
  <div class="uploadProvMaster-tab-content active">
    <div class="col-sm-9">
        <p>
            In this Upload Provision Master Section, below are the types :
        </p>
        <p>
            <ul class=" list">
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Outlet Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Additional Margin Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Service Tax Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Huggies Basepack Percentage</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Cluster RS Code Mapping</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">MT TOT Rate Configuration</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">MT Tier Based TOT% Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">MT Subcategory Mapping</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">MT Subcategory TOT% Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Price List Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">On Invoice Config Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">Chain Name Master</span></li>
                <li class=""><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp; &nbsp;<span class="list-name">GL Master</span></li>
            </ul>
        </p>
        <p>
            Before starting the data upload for master download, the upload format from the <span>icon</span><u><strong>Download file formats</strong></u> menu.  Masters can be uploaded as <strong>full upload</strong> or as an <strong>incremental upload.  Default is incremental upload. </strong>
        </p>
        <p>
            While doing an incremental upload, ensure that the file has only relevant data which needs to be updated.
        </p>
        <p>
            On selecting <strong>full upload</strong>, system will automatically delete all the relevant data for current MOC and upload fresh data.
        </p>
    </div>






    <!--  Right Column -->
    <div class="col-sm-3">
        <div class="row">


            @*<div class=" col-sm-11 col-sm-offset-1">
                <div class="donation-meter mtop60">
                    <span class="glass">
                        <span class="vertical">
                            Click on the month in <span class="green"> green color</span> to open reports or export JV
                        </span>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 2%">Jan</strong>
                            <span class="amount" style="background: #04B404; bottom: 0%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 9%">Feb</strong>
                            <span class="amount" style="background: #04B404; bottom: 8%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 17%">Mar</strong>
                            <span class="amount" style="background: #04B404; bottom: 16%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 25%">Apr</strong>
                            <span class="amount" style="background: #04B404; bottom: 24%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 33%">May</strong>
                            <span class="amount" style="background: #F7FE2E; bottom: 32%;">
                            </span>
                        </a>
                        <a href="">
                            <strong class="total" style="bottom: 42%">Jun</strong>
                            <span class="amount" style="background: #808080; bottom: 40%;">
                            </span>
                        </a>
                        <a href="">
                            <strong class="total" style="bottom: 50%">Jul</strong>
                            <span class="amount" style="background: #808080; bottom: 48%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 58%">Aug</strong>
                            <span class="amount" style="background: #808080; bottom: 56%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 66%">Sep</strong>
                            <span class="amount" style="background: #808080; bottom: 64%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 74%">Oct</strong>
                            <span class="amount" style="background: #808080; bottom: 72%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 83%">Nov</strong>
                            <span class="amount" style="background: #808080; bottom: 80%;">
                            </span>
                        </a>
                        <a href="reports.html">
                            <strong class="total" style="bottom: 91%">Dec</strong>
                            <span class="amount" style="background: #808080; bottom: 88%;">
                            </span>
                        </a>


                    </span>

                    <div class="bulb">
                        <span class="red-circle"></span>
                        <span class="filler"><span></span></span>
                    </div>
                </div>
                <h6 class="thermo-title">MOC Provision Status - 2016</h6>
            </div>*@
        </div>

    </div>




</div>



