<footer id="footerContainer" class=" navbar navbar-default footer navbar-fixed-bottom" style="border-top: 4px solid #11A5C9;">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4" style="margin-top: 18px;">
                <div class="row">
                    <div class="col-xs-12 bottomtext">
                        <p class="vsmtxt smdispbl marginall0 bottomtext"><small> version 2.3  </small><span class="vsmtxt"><strong><small> &nbsp;    </small></strong></span></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center bottomtext" style="margin-top: margin-top: 7px;">
                <div class="copyright"><i class="glyphicon glyphicon-copyright-mark mtop5"></i>&nbsp;Copyright 2016</div>
                <div class="hulName">&nbsp;&nbsp;Hindustan Unilever Ltd.</div>
            </div>
            <div class="col-xs-4 bottomtext text-right " style="margin-top: 18px;">
                <span class="vsmtxt smdispbl"><small>Developed by&nbsp;</small><span class="text-info rpad15"><small><a href="http://www.tekacademy.com" class="developedBy" target="_blank">Tekacademy Labs</a></small></span>  &nbsp;<span class="vsmtxt"><!-- <small>version:</small> --></span> <span class="text-info"><!-- <small>3.1 (2015-12-29)</small> --></span></span>
                <a id="hideFooter" href="javascript:void(0);" class="glyphicon glyphicon-remove pull-right footerclose" style="color: #000;padding: 2px;"></a>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).on("click", "#hideFooter", function () {
        $("#footerContainer").hide();
    });
</script>